<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fastturtle.androshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.fastturtle.androshow.staticclasses.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:exported="true"
            android:name="com.fastturtle.androshow.activities.DashBoardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fastturtle.androshow.activities.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.NotConnectedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.RingTonesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.SongsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:exported="true"
            android:name="com.fastturtle.androshow.activities.StartingActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fastturtle.androshow.activities.VideosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperCaptain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperDoctor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperIronMan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperLoki"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperMisc"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperPoster"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperSpidy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperTchaala"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperThor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperWanda"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WallpaperWidow"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.WikiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fastturtle.androshow.activities.YouTubeVideoActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4759311195261541~3991258002" />
    </application>

    <!-- This is needed for Youtube player to work inside app-->
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START"/>
        </intent>
    </queries>
</manifest>